SECRET_KEY=django-insecure-33ozuz!^$uiw6koqc@vjl0+z0dgu8f^$ftcb3frqk@=a+3p
DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]

POSTGRES_ENGINE=django.db.backends.postgresql
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=db
POSTGRES_USER=user
POSTGRES_PASSWORD=password

CSRF_TRUSTED_ORIGINS=http://localhost
INTERNAL_IPS=127.0.0.1

YANDEX_METRIKA_TOKEN=token
YANDEX_METRIKA_COUNTER=counter

IS_USE_AKISMET=False
AKISMET_API_KEY=api
AKISMET_URL=localhost

LOG_LEVEL=INFO
LOG_DIR=logs