SECRET_KEY=django-insecure-33ozuz!^$uiw6koqc@vjl0+z0dgu8f^$ftcb3frqk@=a+3p
DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]

POSTGRES_ENGINE=django.db.backends.postgresql
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=db
POSTGRES_USER=user
POSTGRES_PASSWORD=password

CSRF_TRUSTED_ORIGINS=http://localhost
INTERNAL_IPS=127.0.0.1

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_HOST_USER=user@gmail.com
EMAIL_HOST_PASSWORD=password
EMAIL_PORT=587

CELERY_BROKER_URL=redis://redis:6379/0

YANDEX_METRIKA_TOKEN=token
YANDEX_METRIKA_COUNTER=counter