amqp==5.1.1
asgiref==3.7.2
beautifulsoup4==4.12.2
billiard==4.1.0
celery==5.3.1
certifi==2023.5.7
charset-normalizer==3.2.0
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
Django==4.2.2
django-appconf==1.0.5
django-celery-results==2.5.1
django-ckeditor==6.5.1
django-elasticsearch-dsl==7.3
django-environ==0.10.0
django-imagekit==4.1.0
django-js-asset==2.0.0
django-mptt==0.14.0
docutils==0.20.1
elasticsearch==7.17.9
elasticsearch-dsl==7.4.1
flower==2.0.1
humanize==4.8.0
idna==3.4
joblib==1.3.0
kombu==5.3.1
lxml==4.9.3
pilkit==2.0
Pillow==9.5.0
prometheus-client==0.17.1
prompt-toolkit==3.0.39
psycopg2==2.9.6
python-dateutil==2.8.2
pytz==2023.3
regex==2023.6.3
requests==2.31.0
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
tinycss2==1.1.1
tornado==6.3.3
tqdm==4.65.0
tzdata==2023.3
urllib3==1.26.16
vine==5.0.0
wcwidth==0.2.6
webencodings==0.5.1
whitenoise==6.5.0
gunicorn==21.2.0
psycopg2-binary==2.9.6