{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block title %}{% translate 'Page not found' %}{% endblock %}

{% block page %}
<div class="content-error_wrapper">
  <div class="content-error">
    <h1 class="error__name">404</h1>
    <h3 class="error__description">{% translate 'Page not found' %}</h3>
    <div class="error__buttons-row">
      <a href="{{ request.META.HTTP_REFERER }}" class="error__button">НАЗАД</a>
      <a href="{% url 'admin:index' %}" class="error__button">ГЛАВНАЯ</a>
    </div>
  </div>
</div>
{% endblock %}