{% load i18n admin_urls %}

{% block object-tools-items %}
  {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
  <a href="{% add_preserved_filters history_url %}">
    <span class="material-symbols-outlined icon icon-middle">
      history
    </span> 
    {% trans 'History' %}&nbsp;&nbsp;
  </a>
  {% if has_absolute_url %}
    <a href="{{ absolute_url }}">
      <span class="material-symbols-outlined icon-middle">
        captive_portal
      </span>
      {% trans "View on site" %}
    </a>
  {% endif %}
{% endblock %}
