@import url('widgets.css');

/* Search */

input[type="search"] {
    border-radius: 3px;
    background: var(--color-secondary);
    outline: none; 
    height: 32px;
    padding: 0.375rem 0.75rem;
}

.search-top__form {
    align-items: center;
    font-size: 0;
}

input[type="search"].search-top__input {
    width: 193px;
    height: 32px;
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    color: var(--color-text);
    border: none ;
    border-right: none;
    background-color: var(--color-secondary);
    border-radius: 3px 0 0 3px;
  }

button[type="submit"].search-top__button {
    height: 32px;
    width: 37px;
    padding: 0;
    text-align: center;
    border-radius: 0 3px 3px 0;
}

input[type="text"].search-model__input {
    margin-bottom: 5px;
}

input[type="submit"].search-model__button {
    background-color: var(--color-accent);
    border-radius: 3px;
    padding: 5px 10px;
    color: var(--color-primary);
    font-size: 1.6rem;
    height: 35px;
}

input[type="submit"].search-model__button:hover {
    cursor: pointer;
}

/* Buttons */

.add-button,
input.confirm-delete-button,
a.cancel-delete-button {
    padding: 5px 10px;
    background: var(--color-accent);
    color: #fff !important;
    border-radius: 3px;
    margin-right: 10px;
    font-size: inherit;
}

input.confirm-delete-button {
    height: 27px;
    cursor: pointer;
}

a.cancel-delete-button {
    background: #910808;
    text-align: center;
}

.add-button:hover,
.confirm-delete-button,
input.cancel-delete-button {
    background: var(--color-hover);
}

.add-button_field {
    display: flex;
    justify-content: start;
    margin-bottom: 7px;
}

a.closelink,
a.deletelink {
    width: 100%;
    padding: 5px 10px;
    background: #c23232;
    color: #fff;
    border-radius: 3px;
    text-align: center;
}

.save-button {
    width: 100%;
}

.save-button:hover,
.deletelink:hover,
.closelink:hover,
.search-model__button:hover {
    background-color: var(--color-hover);
}

/* Form rows */

.form-row {
    overflow: hidden;
    padding: 10px;
    font-size: 1.6rem;
}

.form-row img, .form-row input {
    vertical-align: middle;
}

.form-row label input[type="checkbox"] {
    margin-top: 0;
    vertical-align: 0;
}

form .form-row p {
    padding-left: 0;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

.form-multiline > div {
    padding-bottom: 10px;
}

label {
    font-weight: bold;
}

/* Radio buttons */

form div.radiolist div {
    padding-right: 7px;
}

form div.radiolist.inline div {
    display: inline-block;
}

form div.radiolist label {
    width: auto;
}

form div.radiolist input[type="radio"] {
    margin: -2px 4px 0 0;
    padding: 0;
}

form ul.inline {
    margin-left: 0;
    padding: 0;
}

form ul.inline li {
    float: left;
    padding-right: 7px;
}

/* Aligned fieldsets */

.aligned label {
    display: block;
    padding: 4px 10px 0 0;
    width: 200px;
    word-wrap: break-word;
    line-height: 1;
}

.aligned label + p, .aligned .checkbox-row + div.help, .aligned label + div.readonly {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    overflow-wrap: break-word;
}

.aligned ul label {
    display: inline;
    float: none;
    width: auto;
}

.aligned .form-row input {
    margin-bottom: 0;
}

.colMS .aligned .vLargeTextField, .colMS .aligned .vXMLLargeTextField {
    width: 350px;
}

form .aligned ul {
    margin-left: 200px;
    padding-left: 20px;
}

form .aligned div.radiolist {
    display: inline-block;
    margin: 0;
    padding: 0;
}

form .aligned p.help,
form .aligned div.help {
    margin-top: 0;
    margin-left: 200px;
}

form .aligned p.datetime div.help.timezonewarning {
    margin-left: 0;
    padding-left: 0;
    font-weight: normal;
}

form .aligned p.help:last-child,
form .aligned div.help:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

form .aligned input + p.help,
form .aligned textarea + p.help,
form .aligned select + p.help,
form .aligned input + div.help,
form .aligned textarea + div.help,
form .aligned select + div.help {
    margin-left: 200px;
}

form .aligned ul li {
    list-style-type: circle;
}

form .aligned table p {
    margin-left: 0;
    padding-left: 0;
}

.aligned .vCheckboxLabel {
    float: none;
    width: auto;
    display: inline-block;
    vertical-align: -3px;
    padding: 0 0 5px 5px;
}

.aligned .vCheckboxLabel + p.help,
.aligned .vCheckboxLabel + div.help {
    margin-top: -4px;
}

.colM .aligned .vLargeTextField, .colM .aligned .vXMLLargeTextField {
    width: 610px;
}

fieldset .fieldBox {
    margin-right: 20px;
}

/* Wide fieldsets */

.wide label {
    width: 200px;
}

form .wide p,
form .wide ul.errorlist,
form .wide input + p.help,
form .wide input + div.help {
    margin-left: 200px;
}

form div.help ul {
    padding-left: 0;
    margin-left: 0;
}

.colM fieldset.wide .vLargeTextField, .colM fieldset.wide .vXMLLargeTextField {
    width: 450px;
}

/* Collapsed fieldsets */

fieldset.collapsed * {
    display: none;
}

fieldset.collapsed h2, fieldset.collapsed {
    display: block;
}

fieldset.collapsed {
    border-radius: 4px;
    overflow: hidden;
}

fieldset.collapsed .collapse-toggle {
    background: transparent;
    display: inline;
}

/* Submit row */

.submit-row {
    padding: 6px 7px 6px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

body.popup .submit-row {
    overflow: auto;
}

.submit-row input {
    height: 2.1875rem;
    line-height: 0.9375rem;
}

.submit-row input, .submit-row a {
    margin: 0;
}

.submit-row input.default {
    text-transform: uppercase;
}

/* Custom form fields */

.vSelectMultipleField {
    vertical-align: top;
}

.vCheckboxField {
    border: none;
}

.vDateField, .vTimeField {
    margin-right: 2px;
    margin-bottom: 4px;
}

.vDateField {
    min-width: 6.85em;
}

.vTimeField {
    min-width: 4.7em;
}

.vURLField {
    width: 30em;
}

.vLargeTextField, .vXMLLargeTextField {
    width: 48em;
}

.flatpages-flatpage #id_content {
    height: 40.2em;
}

.module table .vPositiveSmallIntegerField {
    width: 2.2em;
}

.vIntegerField {
    width: 5em;
}

.vBigIntegerField {
    width: 10em;
}

.vForeignKeyRawIdAdminField {
    width: 5em;
}

/* Inlines */

.inline-group {
    padding: 0;
    margin: 0 0 30px;
}

.inline-group thead th {
    padding: 8px 10px;
}

.inline-group .aligned label {
    width: 200px;
}

.inline-related {
    position: relative;
}

.inline-related h3 {
    margin: 0;
    font-size: 1.4rem;
    color: #fff;
    padding-left: 3px;
    background: var(--color-subdivider);
}

.inline-related h3 span.delete {
    float: right;
}

.inline-related h3 span.delete label {
    margin-left: 2px;
}

.inline-related fieldset {
    margin: 0;
    background: var(--color-secondary);
    border: none;
    width: 100%;
}

.inline-related fieldset.module h3 {
    margin: 0;
    padding: 2px 5px 3px 5px;
    text-align: left;
    font-weight: bold;
    background: #bcd;
}

.inline-group .tabular fieldset.module {
    border: none;
}

.inline-related.tabular fieldset.module table {
    width: 100%;
    overflow-x: scroll;
}

.last-related fieldset {
    border: none;
}

.inline-group .tabular tr.has_original td {
    padding-top: 2em;
}

.inline-group .tabular tr td.original {
    padding: 2px 0 0 0;
    width: 0;
    _position: relative;
}

.inline-group .tabular th.original {
    width: 0px;
    padding: 0;
}

.inline-group .tabular td.original p {
    position: absolute;
    left: 0;
    height: 1.1em;
    padding: 2px 9px;
    overflow: hidden;
    font-weight: bold;
    _width: 700px;
}

.inline-group ul.tools {
    padding: 0;
    margin: 0;
    list-style: none;
}

.inline-group ul.tools li {
    display: inline;
    padding: 0 5px;
}

.inline-group div.add-row,
.inline-group .tabular tr.add-row td {
    padding: 8px 10px;
}

.inline-group .tabular tr.add-row td {
    padding: 8px 10px;
}

.inline-group ul.tools a.add,
.inline-group div.add-row a,
.inline-group .tabular tr.add-row td a {
    background: url(../img/icon-addlink.svg) 0 1px no-repeat;
    padding-left: 16px;
    font-size: 0.75rem;
}

.empty-form {
    display: none;
}

/* Related fields add one | Lookup */

.related-lookup {
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: 14px;
}

.related-lookup {
    width: 1rem;
    height: 1rem;
    background-image: url(../img/search.svg);
}

form .related-widget-wrapper ul {
    display: inline-block;
    margin-left: 0;
    padding-left: 0;
}

.clearable-file-input input {
    margin-top: 0;
}

.vTextField,
.vLargeTextField,
.vURLField,
.vIntegerField,
.vBigIntegerField,
.vForeignKeyRawIdAdminField,
input[type="number"],
input[type="text"],
input[type="password"],
input[type="email"],
.form-row select,
select[name="action"] {
    height: 35px;
    padding: .375rem .75rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: inherit;
    font-family: inherit;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid var(--color-accent);
    border-radius: .25rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    background-color: var(--color-secondary);
    color: var(--color-text);
}

select[name="action"] {
    height: 28px;
}

.vLargeTextField {
    height: auto;
    padding: 6px 12px;
    font-size: 1.6rem;
    line-height: 1.4;
    background-color: var(--color-secondary);
    color: var(--color-text);
    color: inherit;
    font-family: inherit;
}

.form-row .vTextField,
.form-row .vLargeTextField,
.form-row.vURLField,
.form-row .vBigIntegerField,
.form-row input[type="text"],
.form-row input[type="email"],
.form-row input[type="password"],
.form-row select {
    display: block;
    width: calc(100% - 200px);
}

label.required::after {
    color: red;
    content: ' *';
    font-size: 1.8rem;
  }

input[type="text"].vDateField,
input[type="text"].vTimeField {
    width: 100%;
}

textarea {
    width: 100%;
    font-size: 1.6rem;
    opacity: 0.9;
    border: 1px solid var(--color-accent);
    border-radius: 4px;
    padding: 5px 15px;
    resize: none;
}

input:focus,
textarea:focus {
    outline: none;
}

/* Select2 */

.select2 {
    width: 100% !important;
    background-color: var(--color-secondary) !important;
    color: var(--color-text) !important;
}

.select2-container .select2-selection--single {
    border: 1px solid var(--color-accent) !important;
    display: flex !important;
    align-items: center;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    right: 15px !important;
    top: unset !important;
}

.select2-container--admin-autocomplete .select2-selection--single, .select2-container--admin-autocomplete .select2-selection--multiple {
    min-height: 35px !important;
}

.select2-container--admin-autocomplete .select2-selection--single .select2-selection__clear {
    float: left !important;
    padding-right: 5px !important;
}

.select2-container--admin-autocomplete .select2-selection--single,
.select2-container--admin-autocomplete .select2-search--dropdown .select2-search__field,
.select2-container--admin-autocomplete .select2-results__option--highlighted[aria-selected],
.select2-container--admin-autocomplete .select2-search--dropdown,
.select2-container--admin-autocomplete .select2-results__option,
.select2 select2-container select2-container--admin-autocomplete {
    background-color: var(--color-secondary) !important;
    color: var(--color-text) !important;
}

.select2-container--admin-autocomplete .select2-selection--multiple .select2-selection__rendered,
.select2-container--admin-autocomplete .select2-selection--multiple .select2-selection__choice,
.select2-container--admin-autocomplete .select2-search--dropdown .select2-search__field,
.select2-dropdown {
    border-radius: 0.25rem !important;
    border: 1px solid var(--color-accent) !important;
}

/* Ckeditor */

.django-ckeditor-widget {
    width: calc(100% - 200px);
}