@media (max-width: 1280px) {
    /* Documentation */

    .doc_wrapper {
        grid-template-columns: 1fr 3fr;
    }

    /* Widgets */

    .content-change-form {
        width: 99.5%;
    }

    .content-submit-form {
        width: 99.5%;
        display: flex;
        flex-direction: row;
        position: static;
        justify-content: end;
    }

    .save-button {
        width: auto;
    }
     
    a.closelink,
    a.deletelink {
        width: auto;
        height: 28px;
        padding: 2px 10px;
    }
}

@media (max-width: 1024px) {
    /* Basic */

    main {
        margin: 5px 12px 5px;
    }

    .wrapper {
        grid-template-columns: 200px 1fr;
    }

    .content_wrapper {
        margin: 5px 0 0;
        flex-direction: column;
        gap: 10px;
    }

    .content-apps,
    .content-history,
    .content-change-list-with-filter,
    .content-filter,
    .content-change-form,
    .content-submit-form {
        width: 100%;
    }

    .content-submit-form {
        position: relative;
    }

    .table td {
        padding: 3px 1px 3px;
    }

    .user__welcome {
        display: none;
    }

    /* Forms */

    .form-row .flex-container {
        flex-direction: column;
    }

    .form-row .vTextField,
    .form-row .vLargeTextField,
    .form-row.vURLField,
    .form-row .vBigIntegerField,
    .form-row input[type="text"],
    .form-row input[type="email"],
    .form-row input[type="password"],
    .form-row select,
    .django-ckeditor-widget {
        width: 100%;
    }

    .content-change-form.content-card {
        padding: 5px 10px 5px;
    }

    form .aligned p.help, form .aligned div.help {
        margin: 0;
        padding-left: 5px;
    }

    .aligned label {
        width: 100%;
        margin-bottom: 7px;
    }

    .search-top__field {
        margin-left: -8px;
    }

    .submit-row {
        width: 100%;
        padding: 0;
    }

    .action-counter {
        display: block;
    }
    
    .save-button {
        width: 100%;
    }
     
    a.closelink,
    a.deletelink {
        width: 100%;
    }

    input[type="text"].search-model__input {
        margin-bottom: 0;
    }

    form .aligned ul {
        margin-left: 0;
    }

    /* Widgets */

    .related-widget-wrapper {
        width: 100%;
    }

    .selector .selector-available input, .selector .selector-chosen input {
        width: calc(100% - 20px);
        margin-left: 8px;
        flex: 1 1;
    }
}

@media (max-width: 768px) {
    /* Basic */

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
    }

    .content_wrapper {
        margin: 5px 5px 0;
    }

    header {
        min-width: 100vw;
        display: flex;
        justify-content: space-between;
        flex-shrink: 1;
        padding: 0 5px 0 5px;
    }

    aside {
        left: -250px;
        height: 100%;
        width: 250px;
        position: fixed;
    }

    main {
        width: 100%;
        flex-grow: 1;
    }

    .popup_wrapper main {
        width: auto;
    }

    footer {
        width: 100%;
        flex-shrink: 1;
        margin-top: 0;
        align-self: center;
    }

    .breadcrumbs {
        padding-left: 5px;
    }

    .model-change {
        flex-direction: column;
        align-content: end;
    }

    .breadcrumb {
        margin-left: 0;
    }

    .message {
        margin: 5px 8px 5px 5px;
        padding-right: 10px;
    }

    .top-menu,
    .top-search,
    .sidebar__close-icon {
        display: block;
    }

    .sidebar__close-icon {
        float: right;
    }

    .show-menu {
        transform: translateX(100%);
        transition: 0.4s ease;
    }
    
    .hide-menu {
        transform: translateX(-100%);
        transition: 0.8s ease;
    }

    .user__menu {
        left: -100px;
        width: calc(100% + 100px);
        padding-right: 0;
    }

    #expand-user-menu {
        margin-right: 3px;
    }

    .toggle-sidebar {
        display: none;
    }
    /* Forms */

    .search-top__field {
        margin-left: 0;
    }

    .search__input {
        display: none;
    }

    .search__button {
        background-color: transparent;
    }

    .search-model__form {
        margin: 0 5px 8px;
    }

    .search-model__input {
        width: 75%;
    }

    .content-change-form.content-card {
        padding: 5px 3px 5px;
    }

    .actions select[name="action"] {
        width: 120px;
    }

    input[type="search"].search-top__input {
        width: calc(100% - 40px)
    }

    .add-button_field,
    nav.toplinks {
        margin-left: 5px;
    }

    .full_width,
    .search-top__form  {
        width: 100%;
    }

    .search-top__form {
        display: none;
        transition: 0.5s cubic-bezier(0.1, 0.7, 1.0, 0.1);
    }

    a.cancel-delete-button,
    input.confirm-delete-button {
        display: block;
        width: 100%;
        height: 32px;
        margin-bottom: 7px;
    }

    /* Widgets */

    .selector {
        flex-direction: column;
    }

    .selector ul.selector-chooser {
        display: flex;
        justify-content: space-between;
        width: 90px;
        transform: translateY(-3px);
    }

    .selector ul.selector-chooser li {
        float: left;
    }

    .selector-add,
    .selector-remove {
        transform: rotate(90deg);
    }

    /* Documentation */

    .doc_wrapper {
        display: flex;
        margin: 5px 5px 0;
        flex-direction: column;
        gap: 10px;
    }
}

/* Popups */

.popup_wrapper {
    display: flex;
    flex-direction: column;
}

.popup_wrapper .submit-row,
.popup_wrapper .save-button,
.popup_wrapper .content-change-form {
    width: 100%;
}

.popup_wrapper .content-submit-form {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: static;
}

.popup_wrapper .submit-row {
    justify-content: center;
}

/* Show/hide element */

.show {
    display: block;
}

.hide {
    display: none;
}


