.article {
    display: flex;
    flex-direction: column;
    padding-top: 10px !important;
}

.article-block {
    background-color: var(--color-article);
    border-radius: 5px;
    padding: 18px 28px 25px 28px;
    margin: 0 0 15px 0;
    color: var(--color-article-text);
}

a.article__link, 
a.article__link:link, 
a.article__link:visited  {
    color: var(--color-link);
    text-decoration: none;
}

a.article__link:hover  {
    color: var(--color-link-hover);
    text-decoration: none;
}

.article-block:first-child {
    margin-top: 5px;
}

.article-block:last-child {
    margin-bottom: 0;
}

.article__date {
    align-self: end;
    font-size: 1.2rem;
    color: rgb(151, 151, 151);
}

.article__title {
    font-size: 2.4rem;
}

.article__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.article__bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    margin-top: 15px;
}

.article__prev {
    text-align: left;
    align-self: center;
}

.article__next {
    text-align: right;
    align-self: center;
}

.article__navigation-button,
.article__navigation-button:link,
.article__navigation-button:visited {
    border-radius: 0.5rem;
    border: 1px solid var(--color-accent-2);
    padding: 5px 15px;
    color: var(--color-accent-2);
    background: none;
}

.article__navigation-button:hover {
    border: 1px solid var(--color-link-hover);
    color: var(--color-link-hover);
}

.summary {
    display: grid;
    grid-template-rows: auto;
    margin: 10px 10px 20px 10px;
    border: 1px solid #bdbdbd;
}

.summary__about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summary__line {
    border: none;
	border-top: 1px solid var(--color-navigation);
    opacity: .4;
    margin: 7px 0;
}

.summary__date, .summary__info {
    font-size: 1.2rem;
    color: #868686;
}

.summary__info {
    margin-top: 5px;
}

.summary__image {
    max-width: 180px;
}

.summary__title {
    color: var(--color-accent-2);
    font-size: 2.4rem;
}

.summary__text {
    display: flex;
    flex-direction: column;
}

.article__title_wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
    color: var(--color-accent);
    font-size: 2.4rem;
    word-break: break-all;
}

/* Share buttons */

.share_wrapper {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 24px;
}

.share__svg {
    vertical-align: middle;
}

.share__text {
    color: var(--color-accent-2);
    cursor: pointer;
}

.share__buttons {
    display: none;
}

.ya-share2__container_mobile.ya-share2__container_size_m .ya-share2__icon {
    width: 24px !important;
    height: 24px !important;
}

.ya-share2__badge, .ya-share2__mobile-popup-badge {
    border-radius: 10% !important;
}

/* Read more */

.read-more_wrapper {
    margin: 14px 0 8px;
}

.read-more,
.read-more:visited,
.read-more:active {
    background-color: transparent;
    border: 1px solid var(--color-accent-2);
    border-radius: 4px;
    font-size: 1.6rem;
    color: var(--color-accent-2);
    padding: 7px 10px; 
    margin: 10px 0;
}

.read-more:hover {
    border: 1px solid var(--color-link-hover);
    color: var(--color-link-hover);
}

.code {
    padding: 0 4px;
    background-color: #c7ced1;
    color: var(--color-bg);
    border-radius: 1px;
}

/* Spoiler */
div.spoiler {
	padding: 5px;
	line-height: 1.6;
}

div.spoiler div.spoiler-title {
	color: var(--color-bg);
	font-weight: bold;
	padding: 4px 7px;
	background: #333;
    border-radius: 3px;
	cursor: pointer;
}

div.spoiler div.spoiler-title {
	color: var(--color-bg);
	font-weight: bold;
	padding: 4px 7px;
	background: var(--color-spoiler);
    border-radius: 3px;
	cursor: pointer;
}

div.spoiler div.spoiler-title div.spoiler-toggle {
	display: inline-block;
	height: 11px;
	line-height: 14px;
	margin-left: 4px;
	margin-right: 6px;
	cursor: pointer;
}

div.spoiler div.spoiler-title div.hide-icon:after {
	content: '\002D'
}

div.spoiler div.spoiler-title div.show-icon:after {
    content: '\002B';
    
}

div.spoiler div.spoiler-content {
	background-color: var(--color-article);
    color: var(--color-article-text);
	padding: 4px 10px;
    border: 1px solid var(--color-spoiler);
    border-top: none;
    border-radius: 0 0 3px 3px;
}

.breadcrumbs {
    color: var(--color-article-text);
    margin: 5px 0 8px 25px;
}

.compensate-for-scrollbar {
    margin-right: 0 !important;
}
