:root {
    --color-bg: #03223a;
    --color-primary: #1a1a1a;
    --color-secondary: #fff;
    --color-article: #dbe5ec;
    --color-article-text: #000;
    --color-article-border: #212121;
    --color-comment: #041a2b;
    --color-comment-text: #d5d6d9;
    --color-accent: #31cdfc;
    --color-accent-2: #074c91;
    --color-link: #3a87c9;
    --color-link-hover: #7dbdf5;
    --color-text: #d5d6d9;
    --color-sidebar: #1f2735;
    --color-sidebar-link: #66c8f7;
    --color-sidebar-link-hover: #bfdefa;
    --color-sidebar-title: #fff;
    /* --color-aside: #1a1a1a; */
    --color-hover: rgba(201, 209, 226, 0.87);
    --color-navigation: #9f9f9f; 
    --color-line:  #b1b7de;
    --color-table-background: #d3efeb;
    --color-spoiler: #c7d0d7;
}

@font-face {
    font-family: "Allura";
    src: url("/static/blog/fonts/Allura-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Cherry Cream Soda';
    src: url('/static/blog/fonts/CherryCreamSoda-Regular.eot');
    src: url('/static/blog/fonts/CherryCreamSoda-Regular.eot?#iefix') format('embedded-opentype'),
        url('/static/blog/fonts/CherryCreamSoda-Regular.woff2') format('woff2'),
        url('/static/blog/fonts/CherryCreamSoda-Regular.woff') format('woff'),
        url('/static/blog/fonts/CherryCreamSoda-Regular.ttf') format('truetype'),
        url('/static/blog/fonts/CherryCreamSoda-Regular.svg#CherryCreamSoda-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'a_Intro';
    src: url('/static/blog/fonts/Intro.eot');
    src: url('/static/blog/fonts/Intro.eot?#iefix') format('embedded-opentype'),
        url('/static/blog/fonts/Intro.woff2') format('woff2'),
        url('/static/blog/fonts/Intro.woff') format('woff'),
        url('/static/blog/fonts/Intro.ttf') format('truetype'),
        url('/static/blog/fonts/Intro.svg#Intro') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'a_Arsenal';
    src: url('/static/blog/fonts/Arsenal-Regular.eot');
    src: url('/static/blog/fonts/Arsenal-Regular.eot?#iefix') format('embedded-opentype'),
        url('/static/blog/fonts/Arsenal-Regular.woff2') format('woff2'),
        url('/static/blog/fonts/Arsenal-Regular.woff') format('woff'),
        url('/static/blog/fonts/Arsenal-Regular.ttf') format('truetype'),
        url('/static/blog/fonts/Arsenal-Regular.svg#Arsenal-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Basic */

* {
	padding: 0px;
	margin: 0px;
	border: none;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-size: 1.6rem;
    font-family: "Nunito", "Rubik", sans-serif;
    line-height: 1.6;
}

p {
    margin: 0.8rem 0;
}

a, a:link, a:visited  {
    color: var(--color-link);
    text-decoration: none;
}

a:hover  {
    color: var(--color-link-hover);
    text-decoration: none;
}

h1, h2, h3 {
    color: var(--color-accent-2);
    text-align: center;
}

h1 {
    font-size: 3rem;
}

h2, h3 {
    margin: 0.1rem 0;
    font-weight: 400;
}

h2 {
    font-size: 2.5rem;
    border-bottom: 2px solid var(--color-accent-2);
}

h3 {
    font-size: 2.1rem;
    border-bottom: 1px dashed var(--color-accent-2);
}

.form-row {
    display: flex;
    justify-content: center;
}

input[type="text"],
input[type="email"],
input[type="search"],
textarea {
    background-color: white;
    font-size: 1.6rem;
    opacity: 0.9;
    border-radius: 4px;
    padding: 5px 15px;
    border: 1px solid rgba(177, 220, 222, .3);
}

input[type="search"] {
    border: none;
}

textarea {
    width: 100%;
    font-size: 1.6rem;
    resize: none;
    font-family: inherit;
    padding: 10px 15px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
textarea:focus {
    outline: none;
}

input[type="text"],
input[type="email"],
input[type="search"] {
    height: 35px;
}

.input-item {
    background: white;
    opacity: 0.9;
    height: 35px;
    width: 35px;
    color: var(--color-accent);
    border-right: none;
    vertical-align: middle;
    padding: 5px 0px 5px 5px;
    border-radius: 4px 0px 0px 4px;
    border: 1px solid rgba(177, 220, 222, .3);
    border-right: none;
}

input[type="text"].custom-input,
input[type="email"].custom-input {
    padding: 5px 7px 4px;
    border-left: none;
    border-radius: 0 4px 4px 0;
    width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

button[type="submit"] {
    background-color: var(--color-accent);
    color: var(--color-bg);
    border: 1px solid var(--color-link);
    border-radius: 4px;
    font-size: 1.6rem;
    padding: 7px 10px;
}

button[type="submit"]:hover {
    background-color: var(--color-link-hover);
    cursor: pointer;
}

figure {
    /* border: thin #c8edeb solid; */
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin: 1rem auto 0.1rem auto;
    font-size: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

img.white-scheme {
    border-radius: 15px;
    border: 10px double white;
}

div.image-caption {
    margin-top: -5px;
    margin-bottom: 0.8rem;
    text-align: center;
    font-size: 1.5rem;
    color: #818181;
}
  
figcaption {
    color: #868686;
    font: smaller sans-serif;
    padding-top: 10px;
    margin-top: 2px;
    text-align: center;
    font-size: 1.6rem;
}

table {
	width: 100%;
	border: 15px solid var(--color-bg);
	border-top: 5px solid var(--color-bg);
	border-collapse: collapse; 
}

table th {
	font-weight: bold;
    color: var(--color-article);
	padding: 5px;
	background: var(--color-bg);
	border: none;
	border-bottom: 5px solid var(--color-bg);
}

table td {
	padding: 5px;
	border: none;
	border-bottom: 5px solid var(--color-bg);
}

table td:first-child {
	padding-left: 10px;
}

table td:last-child {
	padding-right: 10px;
}

table.data-table {
    width: auto;
}

table.function-table,
table.data-table,
table.data-table td,
table.function-table td {
    border: none;
}

table.function-table td:first-child {
    width: 10%;
}

table.data-table th {
    background: transparent;
    font-weight: normal;
    color: var(--color-bg);
    border-bottom: 2px solid var(--color-bg);
}

table.data-table td {
    color: var(--color-bg);
}

table.data-table th:not(:first-child) {
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
}

table.data-table td:not(:first-child) {
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
  }

table.function-table tbody tr {
	padding: 10px;
	line-height: 20px;
}

table.function-table tbody tr:not(:last-child) {
    border: none;
	border-bottom: 1px solid var(--color-bg);
}

table.function-table tbody td:first-child {
    font-weight: bold;
}

table caption {
    color: #818181;
}

blockquote {
    border-left: 7px solid var(--color-accent);
    margin: 5px 10px 5px;
    padding: 0.5rem 10px;
}

ul, ol {
    margin-left: 4rem;
}

.hljs {
    background-color: var(--color-bg) !important;
    overflow-block: auto !important;
    margin: 0 !important;
}

pre {
    margin-bottom: 1rem;
    white-space: pre-wrap;
    overflow-x: auto;
}

/* Layots */

.wrapper {
    width: 100vw;
    max-width: 1200px;
    min-height: 100vh;
    display: grid;
    grid-template-rows:40px 1fr auto;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}

main {
    grid-column: 2;
    grid-row: 1/3;
}

header {
    align-self: center;
    align-items: center;
    position: sticky; 
    top: 0;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-top: 10px;
}

.info_index {
    margin-bottom: -5px;
}

.info_end {
    justify-content: end;
}

.sort-links {
    margin-left: 10px;
}

.search {
    margin: 0 !important;
}

aside {
    grid-row: 2/4;
}

footer {
    grid-column: 2;
    grid-row: 3;
    margin-bottom: 5px;
    text-align: center;
    align-self: end;
}

/* Logo */

.logo {
    text-align: center;
}

.logo_wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    right: 30px;
}

.logo__main {
    font-family: 'Cherry Cream Soda';
    font-size: 2.7rem;
    transform: scale(-1, 1);
    margin-top: 4px;
}

.logo__logo {
    font-family: 'a_Intro';
    font-size: 2rem;
    margin-top: 10px;
}

.logo__about {
    font-family: 'a_Arsenal';
    position: relative;
    bottom: 16px;
    left: 16px;
    font-size: 1.3rem;
}

.logo__about,
.logo__about:visited,
.logo__about:hover,
.logo__about:active {
    color: var(--color-navigation) !important;
}

.logo__main,
.logo__main:visited,
.logo__main:hover,
.logo__main:active,
.logo__logo,
.logo__logo:visited,
.logo__logo:hover,
.logo__logo:active {
    color: var(--color-accent) !important;
}

/* Pagination */

.pagination {
    text-align: center;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.pagination__number, 
.pagination__number:active, 
.pagination__number:visited {
    padding: 3px 6px;
    border: 1px solid var(--color-link) !important;
    border-radius: 3px;
    text-decoration: none;
    margin-left: 6px;
    width: 25px;
    display: block;
}

.pagination__current, 
.pagination__current:active, 
.pagination__current:visited {
    background-color: var(--color-link-hover) !important;
    color: var(--color-primary) !important;
    border: 1px solid var(--color-link-hover) !important;
}

.pagination__number:hover {
    background-color: var(--color-link-hover) !important;
    color: var(--color-bg) !important;
    border: 1px solid var(--color-link-hover);
}

/* Icons */

.bottom-icon {
    vertical-align: bottom;
}

.middle-icon {
    vertical-align: middle;
}

.sort-icon, .home-icon, .reply-icon {
    font-size: 22px !important;
    transform: translateY(-3px); 
}

.info-icon {
    font-size: 16px !important;
}

.button-icon {
    color: var(--color-link);
    margin-right: 7px;
    font-size: 32px !important;
}

.arrow-icon {
    font-size: 18px !important;
    margin-right: -5px;
    margin-bottom: 2px;
}

.next-icon {
    font-size: 18px !important;
    vertical-align: middle;
    margin-bottom: 3px;
}

.prev-icon {
    margin-right: -3px;
}

.button-icon:hover {
    cursor: pointer;
    color: var(--color-hover);
}

.top-menu-icon {
    font-size: 32px !important;
    padding-bottom: 2px;
}

.sidebar-icon {
    transform: translateY(5px);
}

.small-icon {
    font-size: 18px !important;
}

.close-comment-icon {
    font-size: 24px !important;
    margin-right: 20px;
}

/* Back to top */

.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 20%;
    border: 1px solid var(--color-accent);
    background: var(--color-primary);
    padding: 0.7rem;
    cursor: pointer;
    opacity: 100%;
    transition: opacity 0.5s;
  }
  
.back-to-top:hover {
    opacity: 60%;
}

.back-to-top-icon {
    width: 1.8rem;
    height: 1.8rem;
    color: var(--color-accent);
    transform: translateX(-3px);
}
  
.back-to-top_hide {
    opacity: 0%;
}

/* No search results */

.robot-message {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.robot-message__bubble {
    text-align: center;
	position: relative;
    color: var(--color-article);
    padding: 20px 10px;
    max-width: 400px;
}

/* Feedback */

.feedback-modal {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
    background-color: rgba(7, 5, 34, 0.712); 
    }

.feedback-modal__inner {
    background:var(--color-secondary);
    border: 1px solid var(--color-accent);
    opacity: 0.9;
    border-radius: 0.5rem;
    padding: 6px 15px 15px;
    width: 500px;
}

.feedback__form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.feedback__text {
    margin: 5px 0 5px 0;
}

.feedback__close {
    float: right;
    font-size: 24px !important;
}

.feedback-form__field {
    width: 100%;
    padding: 10px;
}

.feedback-form__textarea {
    width: 100%;
    font-size: 1.7rem;
    height: 20rem;
}

button[type="submit"].feedback-form__post-button {
    width: 100%;
    padding: 10px;
}

/* Errors */

.content-error_wrapper {
    background: var(--color-secondary) !important;
}

/* Timeline */

.timeline_wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 5px 0;
}

.sessions {
    position: relative;
}

ul.sessions, li.sessions {
    list-style: none;
    padding: 0;
}
  
.sessions li {
    padding-bottom: 1.5rem;
    border-left: 1px solid var(--color-accent);
    position: relative;
    padding-left: 20px;
    margin-left: 10px;
}

.sessions li:last-child {
    border: 0px;
    padding-bottom: 0;
}

.sessions li:before {
    content: "";
    width: 15px;
    height: 15px;
    background: white;
    border: 1px solid var(--color-secondary);
    box-shadow: 3px 3px 0px var(--color-accent);
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 0px;
}

.time {
    color: rgb(151, 151, 151);
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 0.4rem;
}

.time__description {
    color: var(--color-text);
    font-family: sans-serif;
    line-height: 1.5;
}

.timeline__education,
.timeline__exp {
    flex: 1 0;
    display: flex;
    flex-direction: column;
    align-content: center;
}

/* Change object */

.article_edit_wrapper {
    display: flex;
    align-items: center;
}

.object_edit {
    font-size: 1.4rem !important;
    color: var(--color-text) !important;
    padding-bottom: 5px;
}

/* Extra ckeditor style */

.responsive-block {
    overflow-x: auto;
    padding: 5px;
    margin: 0.8rem 0;
    display: flex;
}

.extra-info {
    background-color: #d3e2ef;
    display: flex;
    color: black;
    padding: 10px;
    margin: 10px;
    border: 5px double var(--color-bg);
}

.extra-info div:nth-child(2) {
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.extra-info div:nth-child(1) {
    align-self: center;
}

.extra-info img {
    max-width: none;
}

.warning-info {
    background-color: #e7e7e7;
    display: flex;
    color: #770202;
    padding: 10px;
    margin: 10px;
    border: 5px double #9b0000;
}

.warning-info div:nth-child(1) {
    margin-right: 15px;
    align-self: center;
}

.warning-info div:nth-child(2) {
    align-self: center;
}

.warning-info img {
    max-width: none;
}

.warning-info:before {
    content: url("/static/blog/img/warning.png");
    margin: auto 0;
    margin-right: 10px;
}

.description {
    color: #b1b1b1;
    display: inline-block;
    text-align: center;
}

/* Separator */

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--color-accent-2);
    font-size: 2.5rem;
    font-weight: 400;
    margin: 10px 0 5px;
}
  
.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 2px dashed var(--color-accent-2);
}
  
.separator:not(:empty)::before {
    margin-right: .5em;
}
  
.separator:not(:empty)::after {
    margin-left: .5em;
}

.separator__about {
    margin-top: 0;
}

/* About */

.about {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 0px 10px !important;
    background-color: var(--color-article);
    color: var(--color-article-text);
}

.about__image {
    flex-shrink: 0;
    margin: 10px 10px 0 0;
    align-self: center;
}

.about__text {
    margin: 10px;
}

.about__slogan {
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 3.5rem;
    margin-bottom: 20px;
}

.about__info {
    margin-bottom: 10px;
}

.about__me {
    margin-top: 10px;
}

.about__status {
    margin-top: 10px;
}