.comment-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px repeat(2, auto);
    row-gap: 8px;
    column-gap: 10px;
    margin: 0px 10px 10px 10px;
}

.admin-comment-form {
    row-gap: 4px;
}

.comment__info {
    display: flex;
    justify-content: space-between;
    color: var(--color-text);
}

.comment-form__name-field {
    grid-row: 2;
    grid-column: 1;
}

.comment-form__email-field {
    grid-row: 2;
    grid-column: 2;
}

.comment-form__comment-field {
    grid-row: 1;
    grid-column: span 3;
    font-size: 1.7rem;
}

.comment-field::placeholder {
    font-size: 1.7rem;
}

button[type="submit"].comment-form__post-button {
    grid-row: 3;
    /* border: 1px solid var(--color-accent);
    color: var(--color-accent); */
    padding: 8px;
}

.comments__tree {
    max-width: 96vw;
}

.comments__each {
    display: grid;
    grid-template-columns: 55px auto;
    grid-template-rows: 30px auto 30px;
    background: var(--color-comment);
    border-radius: 10px;
    padding: 12px 15px 3px 15px;
    margin: 0 10px 15px 10px;
}

.comments__number {
    color: var(--color-text);
    margin-left: 20px;
}

.comment-form {
    margin: 0 12px 10px 12px;
}

.parent-comment-form {
    margin-top: 10px;
}

.comments__line {
    margin-bottom: 15px;
}

.comments__tab {
    margin-left: 40px !important;
}

.comments__parent {
    display: none;
}

.comments__date {
    font-size: 1.2rem;
    color: rgb(151, 151, 151);
    margin-right: 10px;
    /* grid-row: 1;
    grid-column: 3;
    justify-self: end; */
}

.comments__avatar-block {
    grid-column: 1;
    grid-row: span 3;
}

.comments__avatar {
    font-size: 3rem;
}

.comments__name {
    color: var(--color-accent);
    grid-column: 2;
    grid-row: 1;
    margin-left: 15px;
    font-weight: bold;
}

.comments__guest-name {
    color: var(--color-text);
}

.comments__body {
    grid-column: 2/4;
    grid-row: 2;
    margin-left: 15px;
}

.comments__reply {
    color: var(--color-accent);
    grid-row: 3;
    grid-column: 2;
    justify-self: start;
    padding-bottom: 10px;
    margin-left: 15px;
}

.comment__info {
    margin-left: 25px;
}