/* Top navigation */

.top-navigation {
    display: none;
    color: var(--color-accent);
}

.active-sort {
    padding-bottom: 4px;
    border-bottom: 1px solid var(--color-accent)
}

.active-sort:hover {
    color: var(--color-accent);
}

.hot-sort {
    margin-left: 7px;
}

/* Sidebar */

.sidebar-content {
    background-color: var(--color-primary);
    opacity: 0.9;
    border: 1px solid rgba(177, 220, 222, .3);
    border-radius: 10px;
    padding: 12px 10px 15px 10px;
    margin-bottom: 10px;
}

.sidebar-content.subscribe {
    background: transparent;
    padding: 0;
}

.sidebar__line {
    border: none;
	border-top: 1px solid var(--color-navigation);
}



.sidebar__title {
    padding: 10px;
    font-size: 1.8rem;
    color: var(--color-navigation)
}

.sidebar__link, 
.sidebar__link:link, 
.sidebar__link:visited  {
    color: var(--color-sidebar);
}

.sidebar__link:hover  {
    color: var(--color-hover);
}

.close_button {
    float: right;
    color: var(--color-accent);
    font-size: 2rem;
}

.angle-down {
    color: var(--color-accent);
    float: right;
    margin-top: 3px;
    transition: all 0.4s;
}

.rotate {
    transform: rotate(-180deg);
    transition: all 0.4s;
}

/* Navigation */

.navigation {
    list-style: none;
    margin: 10px 15px 5px;
}

.navigation__content {
    line-height: 2.3rem;
    margin: 10px 5px 5px;
}

.content__item {
    padding-left: 10px;
}

.content__title {
    color: var(--color-navigation) !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-bottom: 5px;
}

.content__item {
    margin-top: 2px;
}

.content__links {
    display: none;
}

ul.content__list {
    list-style-type: none;
    margin-bottom: 4px;
    margin-left: 0;
}

.plusminus {
    position: relative;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.active .plusminus:before {
    transform: translatey(-50%) rotate(-90deg);
    opacity: 0;
}

.active .plusminus:after {
    transform: translatey(-50%) rotate(0);
}

.plusminus:before, .plusminus:after {
    content: "";
    display: block;
    background-color: #333;
    position: absolute;
    top: 50%;
    left: 0;
    transition: 0.35s;
    width: 100%;
    height: 3px;
}

.plusminus:before {
    transform: translatey(-50%); 
}

.plusminus:after {
    transform: translatey(-50%) rotate(90deg);
}

.navigation__item {
    padding: 2px 0 3px;
    margin: 5px 0;
}

.navigation__item:not(:nth-last-child(2)) {
    border-bottom: 1px solid var(--color-secondary);
}

.navigation__item:nth-last-child(2) {
    margin-bottom: 0;
}

/* About */

.about {
    margin-top: 0;
}

.about__message {
    text-align: center;
    color: var(--color-navigation);
    margin-top: 10px;
}

.about-content {
    line-height: 2.4rem;
}

.about__link {
    display: none;
}

.about-block {
    background:var(--color-primary);
    opacity: 0.9;
    border-radius: 10px;
    padding: 18px 18px 25px 23px;
    margin: 0 0 10px 0;
}

/* Subscribe */

.subscribe-button {
    margin-top: 6px;
    width: 100%;
    background: var(--color-primary) !important;
}

/* Search */

.search_wrapper *,
.search_wrapper *:after,
.search_wrapper *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.search_wrapper *:focus {
    background: var(--color-primary);
    color: var(--color-text);
    outline: 0;
}

.search_wrapper {
    display: table;
    position: relative;
    width: 38px;
}

.search__button {
    background-color: var(--color-secondary);
    border: none;
    display: table-cell;
    margin-top: 2px;
    height: 38px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 38px;
    z-index: 2;
}

.search__button-icon {
    vertical-align: bottom;
}

.search__button-icon:hover {
    color: var(--color-accent);
}

.search__input_wrapper {
    position: absolute;
    right: 0;
    z-index: 1;
    background-color: var(--color-secondary);
}

.search__input_wrapper input[type="search"].search__input {
    height: 38px;
    padding: 0px;
    width: 37px;
    background-color: var(--color-secondary);
}

.search__input_wrapper input[type="search"].search__input:focus {
    padding-right: 60px;
    padding-left: 10px;
    width: 250px;
}

.search__input_wrapper input.search__input,
.search__button {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.search_wrapper:hover > .search__input_wrapper input.search__input {
    padding-right: 60px;
    padding-left: 10px;
    width: 250px;
}

.mobile-search_wrapper {
    display: none;
}


button[type="submit"].mobile-search__button {
    padding: 0;
    border: none;
}

.mobile-search__form {
    display: grid;
    grid-template-columns: 255px 35px;
    grid-template-rows: 35px;
    justify-content: center;
    margin: 10px 0 10px 0;
}

.mobile-search__input {
    width: calc(100% + 3px);
}

button.search-button_open {
    border: none;
    background-color: transparent;
}

#mobile-search_close {
    align-self: center;
    font-size: 28px !important;
}

button[type="submit"].search-nothing-button {
    border-radius: 0 4px 4px 0;
}

input[type="search"].search-nothing-input {
    border: 1px solid var(--color-accent);
    border-radius: 4px 0 0 4px;
}

.search-nothing__form {
    grid-template-columns: calc(100% - 35px) 35px;
}

/* Search results */

.search-results__info {
    padding-left: 10px;
}

.search-results__title {
    color: var(--color-accent);
    font-size: 1.8rem;
    font-weight: bold;
}

.search-results__nothing {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.search-results__nothing-message {
	position: relative;
	background: var(--color-primary);
	border-radius: 15px;
    padding: 18px 18px 15px 18px;
}

input[type="search"].nothing-found__input {
    border: 1px solid var(--color-accent);
    border-right: none;
    border-radius: 4px 0 0 4px;
}

button[type="submit"].nothing-found__button {
    border: 1px solid var(--color-accent);
    border-left: none;
    border-radius: 0 4px 4px 0;
}

#menuClose{
    display: none;
}