@media (max-width: 1280px) {
    .wrapper {
        max-width: 1000px;
    }
}

@media (max-width: 1024px) {
    .wrapper {
        width: 98vw;
        column-gap: 10px;
    }
    
    .robot-message {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .wrapper {
        width: 96vw;
        max-width: 96vw;
        display: flex;
        justify-content: start;
        flex-direction: column;
    }

    header {
        width: 96vw;
        display: flex;
        height: 46px;
        justify-content: end;
        flex-shrink: 1;
    }

    .logo {
        margin-left: 15px;
        margin-right: auto;
        margin-top: 15px;
    }

    .info {
        align-self: start;
        margin: 0;
    }

    .info_end {
        justify-content: space-between;
        height: 0;
    }

    main {
        flex-grow: 1;
    }

    aside {
        display: flex;
        flex-direction: column;
        background-color: var(--color-bg);
    }

    .summary {
        border: none;
    }

    .menu {
        order: 0;
    }

    .about-site__status {
        display: none;
    }

    .subscribe {
        order: 2;
        margin-top: 5px;
    }

    .article-block {
        margin-bottom: 7px;
        padding: 12px;
    }

    footer {
        flex-shrink: 1;
        margin-top: 0;
        align-self: center;
    }

    .menu,
    .search_wrapper,
    .article__navigation,
    .back-to-top,
    .feedback {
        display: none;
    }

    .about {
        margin: 15px;
    }

    .about__link {
        display: block;
    }

    .about__image {
        display: none;
    }

    .search__input_wrapper input[type="search"].search__input:focus {
        padding-right: 18px;
        padding-left: 10px;
        width: 48vw;
    }
    
    .search_wrapper:hover > .search__input_wrapper input.search__input {
        width: 48vw;
    }

    .sidebar-content.subscribe {
        width: 95vw;
    }

    .sidebar-content {
        margin-bottom: 3px;
    }

    .top-navigation {
        display: flex;
        justify-content: end;
    }

    .logo_wrapper {
        right: 12px;
    }

    .menu {
        display: none;
        width: 96vw;
        margin-bottom: 0;
        margin-right: 0;
        padding: 5px;
    }

    .menu_index {
        margin-bottom: 10px;
    }

    .search {
        justify-content: end;
        align-items: center;
    }

    .mobile-search__form {
        grid-template-columns: calc(100vw - 135px) 45px;
        margin: 0;
        padding: 0;
    }

    button[type="submit"].mobile-search__button {
        padding-left: 7px;
    }
    
    #close-search {
        font-size: 32px !important;
    }

    .summary__text {
        margin-left: 0;
    }

    .comment {
        max-width: 96vw;
    }

    .comment-form {
        display: flex;
        flex-direction: column;
    }

    .comment-form__comment-field {
        height: 120px;
    }

    .comment-form {
        margin: 0 10px 10px 10px;
    }

    .comment__info {
        margin-left: 15px;
    }

    .comments__number {
        margin: 0 0 10px 5px;
    }

    .robot-message {
        margin: 0;
    }

    .robot-message__bubble {
        width: 100%;
        max-width: none;
        margin-top: 8px;
    }

    .article__bottom {
        grid-template-columns: repeat(3, auto);
    }

    .timeline_wrapper {
        flex-direction: column;
    }

    .extra-info div:nth-child(2) {
        margin-left: 0;
    }

    .extra-info div:nth-child(1) {
        display: none;
    }

    .warning-info div:nth-child(1) {
        margin-right: 0;
    }

    .warning-info div:nth-child(2) {
        display: none;
    }
}

.show {
    display: block;
}

.hide {
    display: none;
}