body {
    font-size: 1.2rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-family: 'Rubik', sans-serif;
    line-height: 1.6;
}

.extra-info {
    background: url('/static/blog/img/mark_bg.png') repeat;
    color: var(--color-primary);
    padding: 10px;
    margin: 10px;
    border: 5px double var(--color-primary);
}

.warning-info {
    padding: 3px;
    margin: 3px;
    color: #881414;
    display: flex;
    column-gap: 10px;
    align-items: center;
}

/* Separator */

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--color-accent);
    font-size: 1.8rem;
    font-weight: 600;
    margin: 10px 0 5px;
}

/* Code in text */

.code {
    padding: 0 2px;
    background-color: #8fbbb8;
    color: var(--color-primary);
    border-radius: 2px;
}
