body {
    font-size: 1.2rem;
    font-family: 'Rubik', sans-serif;
    line-height: 1.6;
    background-color: #292929;
    color: #d5d5d5;
}

.extra-info {
    padding: 10px;
    margin: 10px;
    border: 5px double #00a194;
}

.warning-info {
    padding: 3px;
    margin: 3px;
    color: #881414;
    display: flex;
    column-gap: 10px;
    align-items: center;
}

figure {
    border: thin #c8edeb solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin: 1rem auto;
    font-size: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
  
figcaption {
    background-color: var(--color-primary);
    color: var(--color-text);
    font: smaller sans-serif;
    padding: 5px;
    margin-top: 5px;
    text-align: center;
    font-size: 1.2rem;
}

/* Separator */

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--color-accent);
    font-size: 1.8rem;
    font-weight: 600;
    margin: 10px 0 5px;
}

h1, h2 {
    color: #00a194;
    text-align: center;
    margin: 0.5rem 0;
}

/* Code in text */

.code {
    padding: 0 2px;
    background-color: #8fbbb8;
    color: var(--color-primary);
    border-radius: 2px;
}
