:root {
    --color-primary: #ebebeb;
    --color-secondary: #fff;
    --color-accent: #01b8aa;
    --color-text: #252729;
    --color-hover: rgba(80, 80, 80, 0.87);
  }
  
* {
	padding: 0px;
	margin: 0px;
	border: none;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

body {
    background: var(--color-primary);
    font-size: 1.6rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-family: 'Rubik', sans-serif;
    line-height: 1.6;
}

.content_wrapper {
    display: flex;
    justify-content: center;
}

.content-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
    margin: 10px auto;
    padding: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-image: linear-gradient(-225deg, var(--color-secondary) 50%, var(--color-primary) 50%);
}

.content-login,
.content-email-reset-form {
    max-width: 450px;
    height: auto;
}

.submit-row {
    display: flex;
    justify-content: center;
}

header h2 {
    font-size: 250%;
    font-family: 'Playfair Display', serif;
    color: #3e403f;
    text-align: center;
}

.input-item {
    background: #fff;
    height: 40px;
    width: 40px;
    color: #333;
    vertical-align: middle;
    padding: 7px 0px 15px 10px;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #000;
    border-right: none;
}

label {
    display: block;
    margin-top: 10px;
}

.field-row {
    display: flex;
    justify-content: center;
}

input[name="username"],
input[name="password"],
input[name="email"],
input[name="new_password1"],
input[name="new_password2"] {
    width: 100%;
    height: 40px;
    padding: 15px;
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;
    outline: none;
    border: 1px solid #000;
    border-left: none;
    border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;
}

input[name="username"]:focus,
input[name="password"]:focus {
    outline: none;
}

input.hidden {
    display: none;
}

button {
    display: inline-block;
    color: #ffffff;
    max-width: 280px;
    width: 80%;
    height: 50px;
    padding: 0 20px;
    background: var(--color-accent);
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: inherit;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    margin: 7% auto;
    letter-spacing: 0.05em;
}

button:hover {
    background: var(--color-hover);
}

a, a:link, a:visited  {
    color: var(--color-accent);
    text-decoration: none;
}

a:hover  {
    color: var(--color-hover);
    text-decoration: none;
}

.password-reset-link {
    text-align: right;
}

.errornote {
    font-weight: 700;
    display: block;
    padding: 10px 12px;
    margin: 0;
    color: #dc3545;
    border-radius: 4px;
    background-position: 5px 12px;
    overflow-wrap: break-word;
}

@media (max-width: 768px) {
    .content-card {
        margin: 10px 7px;
    }
}