/* User menu */

.user_wrapper {
    grid-column: 2;
    display: flex;
    justify-self: end;
    align-items: center;
}

.user {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
}

.user__link:link,
.user__link:visited,
.user__link:active,
.user__link:hover {
    color: #ffffff;
}

.user__item {
    padding: 6px 10px;
    background: #4d4d4dbd;
    vertical-align: middle;
}

.user__item:first-child {
    border-radius: 5px 5px 0 0;
}

.user__item:last-child {
    border-radius: 0 0 5px 5px;
}

.user__item:hover {
    background: #2c2c2cde;
}

.user__icon {
    padding-right: 10px;
    vertical-align: middle;
    font-size: 22px;
}

.user__menu {
    overflow: hidden;
    position: absolute;
    top: 34px;
    z-index: 1;
    width: 80%;
    right: 0;
    translate: -30px 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
    min-width: 200px;
}

.user__menu.open {
    translate: 0 0;
    opacity: 1;
    visibility: visible;
}
 
#expand-user-menu {
    margin-right: 10px;
}

/* Sidebar */

.dashboard__logo {
    justify-self: start;
}

.sidebar {
    list-style-type: none;
}

.sidebar__close-icon {
    text-align: right;
}

.navigation-icon:hover {
    cursor: pointer;
}

.sidebar__logo,
.sidebar__icon {
    vertical-align: middle;
}

.sidebar__logo {
    color: var(--color-accent);
    font-size: 38px;
}

.sidebar__app-name {
    color: #aaaaaa;
    font-size: 14px;
    margin: 10px 0;
}

.sidebar__model-name {
    margin: 10px 0;
}

.sidebar__icon {
    margin-right: 10px;
}

.sidebar__link,
.sidebar__link:visited,
.sidebar__link:active {
    color: #d6d6d6 !important;
}

.sidebar__link:hover {
    color: #ffffff !important;
}

.sidebar__title,
.sidebar__title:visited,
.sidebar__title:active {
    color: #d6d6d6;
    margin-bottom: 20px;
}

.sidebar__line {
	margin: 3px 0;
	padding: 0;
	height: 0;
	border: none;
	border-top: 1px solid #808080;
}

/* Top navigation */

.top-navigation {
    position: relative;
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: start;
    align-content: center;
}

.top-menu, 
.top-search,
.sidebar__close-icon {
    display: none;
}

.top-menu,
.top-search {
    color: var(--color-accent)
}

.top-search {
    padding: 0 5px 0;
}
