{% extends 'blog/base.html' %}
{% load static %}
{% load blog_tags %}

{% block title %}О сайте{% endblock %}

{% block sidebar %}
  {% include 'blog/includes/sidebar_index.html' %}
{% endblock %}

{% block info %}
<div class="info">
  <div class="breadcrumbs">
    <a href="{% url 'blog:index' %}" class="article__link"><span class="material-symbols-outlined home-icon middle-icon">home</span> Главная</a>
    &nbsp;<span class="material-symbols-outlined middle-icon arrow-icon">
      arrow_back_ios
      </span>
    Об авторе
  </div>
  <form action="{% url 'blog:search' %}" method="get" autocomplete="on">
    <div class="search_wrapper">
      <div class="search__button">
        <span class="material-symbols-outlined button-icon search__button-icon top-menu-icon">search</span>
      </div>
      <div class="search__input_wrapper">
        <input type="search" name="query" class="search__input" placeholder="Поиск...">
      </div>
    </div>
  </form>
</div>
{% endblock %}

{% block content %}
  <article class="about-block">
    <h1>Добро пожаловать! 👋
    </h1>
    {% get_site_settings as site_settings %}
    {% if site_settings.about_me %}
      {{ site_settings.about_me|safe }}
    {% else %}
      <p>
        Рада всех приветствовать на своём сайте! Меня зовут Хаустова Ирина, и я репетитор по математике, информатике и другим техническим дисциплинам. 
        Здесь я публикую написанные мной различные образовательные материалы по программированию, предназначенные для старшеклассников и всех интересующихся.<br>
        Надеюсь, здесь вы найдёте что-нибудь полезное и интересное для себя! 
      </p>
    {% endif %}
    {% if site_settings.contacts %}
      {{ site_settings.contacts|safe }}
    {% else %}
      <p>
        Если вы хотите связаться со мной, то можете использовать следующую <a href="javascript:void(0)" class="sidebar__link" onclick="openFeedbackModal();">форму обратной связи</a> или 
        сразу написать мне на почту 📧 <strong>irinakhaus@gmail.com</strong>.
      </p>
    {% endif %}
  </article>

{% endblock %}
