{% extends 'blog/base.html' %}
{% load static %}
{% load blog_tags %}

{% block title %} {{ article.title|cut_number }} {% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'ckeditor/css/code-snippet.css' %}">
  <link href="{% static 'blog/css/comments.css' %}" rel="stylesheet">
  <script src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
  <script src="{% static "dashboard/js/spoiler.js" %}"></script>
  <script src="{% static 'vendor/highlight.js/js/highlight.min.js' %}"></script>
  <script src="https://cdn.ckeditor.com/4.21.0/standard-all/ckeditor.js"></script>
  <script src="https://yastatic.net/share2/share.js" defer></script>
{% endblock %}

{% block description %}
  <meta name="description" content="{{ article.summary }}">
  <meta name="keywords" content="{{ article.keywords }}">
{% endblock %}

{% block sidebar %}
  {% include 'blog/includes/sidebar_content.html' %}
{% endblock %}

{% block info %}
<div class="info">
  <div class="breadcrumbs">
    <a href="{% url 'blog:index' %}" class="article__link"><span class="material-symbols-outlined home-icon middle-icon">home</span> Главная</a>
    &nbsp;<i class="fa fa-angle-left" aria-hidden="true"></i> 
    &nbsp;{{ article.title|cut_number }}
  </div>
  <form action="{% url 'blog:search' %}" method="get" autocomplete="on">
    <div class="search_wrapper">
      <div class="search__button">
        <span class="material-symbols-outlined button-icon search__button-icon top-menu-icon">search</span>
      </div>
      <div class="search__input_wrapper">
        <input type="search" name="query" class="search__input" placeholder="Поиск...">
      </div>
    </div>
  </form>
</div>
{% endblock %}

{% block content %}
  <article class="article article-block article-detail">
    <div class="article__title_wrapper">
      <h1 class="article__title">{{ article.title|cut_number }}</h1> 
      {% if user.is_authenticated %}
        <div class="article_edit_wrapper">
          <a href="{{ article.get_admin_url }}" class="object_edit"><i class="fas fa-edit"></i></a>
        </div>
      {% endif %}
    </div>
    <div class="summary__about">
      <div class="article__date">
        <span class="material-symbols-outlined info-icon middle-icon">calendar_month</span> {{ article.created_date }}
      </div>
      <div class="summary__info article__info">
        <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;{{ article.views }}&nbsp;&nbsp;
      </div>
    </div>
    <hr class="summary__line">
    {{ article.body|safe }}
    <div class="article__bottom">
      <div class="article__prev">
        {% get_next_and_prev_article article as articles %}
        {% if articles.prev_article %}
          <a href="{{ articles.prev_article.get_absolute_url }}" class="article__navigation-button"><i class="fa fa-angle-left" aria-hidden="true"></i> <span class="article__navigation">Назад</span></a>
        {% endif %}
      </div>
      <div class="share_wrapper">
          <span class="share__text"><svg
            t="1580465783605"
            class="icon share__svg"
            viewBox="0 0 1024 1024"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            p-id="9773"
            width="18"
            height="18">
              <path
                d="M767.99994 585.142857q75.995429 0 129.462857 53.394286t53.394286 129.462857-53.394286 129.462857-129.462857 53.394286-129.462857-53.394286-53.394286-129.462857q0-6.875429 1.170286-19.456l-205.677714-102.838857q-52.589714 49.152-124.562286 49.152-75.995429 0-129.462857-53.394286t-53.394286-129.462857 53.394286-129.462857 129.462857-53.394286q71.972571 0 124.562286 49.152l205.677714-102.838857q-1.170286-12.580571-1.170286-19.456 0-75.995429 53.394286-129.462857t129.462857-53.394286 129.462857 53.394286 53.394286 129.462857-53.394286 129.462857-129.462857 53.394286q-71.972571 0-124.562286-49.152l-205.677714 102.838857q1.170286 12.580571 1.170286 19.456t-1.170286 19.456l205.677714 102.838857q52.589714-49.152 124.562286-49.152z"
                p-id="9774"
                fill="#04DED3">
              </path>
            </svg>
            &nbsp;Поделиться
          </span>
          <span class="ya-share2 share__buttons share__icon" data-curtain data-limit="6" data-more-button-type="short" 
            data-title="{{ article.title|cut_number }}"
            data-description="{{ article.summary }}" 
            data-image="{{ article.image.url }}"
            data-services="vkontakte,telegram,whatsapp,odnoklassniki,">
          </span>
      </div>
      <div class="article__next">
        {% get_next_and_prev_article article as articles %}
        {% if articles.next_article %}
          <a href="{{ articles.next_article.get_absolute_url }}" class="article__navigation-button"><span class="article__navigation">Дальше</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        {% endif %}
      </div>
    </div>
    <hr>
  </article>
{% include 'blog/includes/comments.html' %}
{% endblock %}

{% block extra_scripts %}
  <script src="{% static 'blog/js/article_detail.js' %}" defer></script>
  <script>
    hljs.highlightAll();
  </script>
{% endblock %}