{% extends 'blog/index.html' %}
{% load static %}

{% block title %} {{ category.name }} {% endblock %}

{% block info %}
{% comment %} {% url 'blog:category' category.slug as category %}
<a href="{{ category }}" class="{% if request.path == category %} active-sort {% endif %}">
    <span class="material-symbols-outlined sort-icon middle-icon">calendar_month</span> По дате</a>
<a href="{{ category }}hot" class="hot-sort {% if not request.path == category %} active-sort {% endif %}">
    <span class="material-symbols-outlined sort-icon middle-icon">local_fire_department</span> По популярности</a> {% endcomment %}
{% endblock %}


