{% extends 'blog/index.html' %}
{% load static %}

{% block title %}Спасибо за обратную связь!{% endblock %}

{% block info %}
  <div class="info info_end">
    <form action="{% url 'blog:search' %}" method="get" autocomplete="on">
      <div class="search_wrapper">
        <div class="search__button">
          <span class="material-symbols-outlined button-icon search__button-icon top-menu-icon">search</span>
        </div>
        <div class="search__input_wrapper">
          <input type="search" name="query" class="search__input" placeholder="Поиск...">
        </div>
      </div>
    </form>
  </div>
{% endblock %}

{% block content %}
  <div class="bunny-message">
    <div class="bunny-message__bubble">
      Спасибо за сообщение! 🌸<br>Я обязательно отвечу Вам в ближайшее время!<br>
      <a href="{{ request.META.HTTP_REFERER }}">Назад</a>
    </div>
    <div><img src="{% static 'blog/img/thanks.png' %}"></div>
  </div>
{% endblock %}
