{% extends 'blog/base.html' %}
{% load blog_tags static %}

{% block description %}
  <meta name="description" content="euthymia.ru - сайт репетитора по математике и информатике, на котором публикуются различные образовательные материалы по программированию. 
  Надеюсь, здесь вы найдёте что-нибудь полезное и интересное для себя.">
{% endblock %}

{% block title %}Эвтюмия - сайт о программировании 
  {% if 'hot' in request.path %}
    | Популярное
  {% endif %}
  {% if request.GET.page %}
     [Страница {{ request.GET.page }}]
  {% endif %}
{% endblock %}

{% block sidebar %}
  {% include 'blog/includes/sidebar_index.html' %}
{% endblock %}

{% block about %}
{% if is_paginated and page_obj.number == 1 %}
  {% include 'blog/includes/about.html' %}
{% elif is_paginated == False %}
  {% include 'blog/includes/about.html' %}
{% endif %}
{% endblock %}


{% block info %}
  {% url 'blog:index' as index %}
  <div class="info info_index">
    <div class="sort-links">
      <a href="{% url 'blog:index' %}" class="{% if request.path == index %} active-sort {% endif %}">
      📅 По дате</a>
      <a href="{% url 'blog:hot_index' %}" class="hot-sort {% if not request.path == index %} active-sort {% endif %}">
      🔥 По популярности</a>
    </div>
    <form action="{% url 'blog:search' %}" method="get" autocomplete="on" class="form__search">
      <div class="search_wrapper">
        <div class="search__button">
          <span class="material-symbols-outlined button-icon search__button-icon top-menu-icon">search</span>
        </div>
        <div class="search__input_wrapper">
          <input type="search" name="query" class="search__input" placeholder="Поиск...">
        </div>
      </div>
    </form>
  </div>
{% endblock %}

{% block content %}
{% include 'blog/includes/articles_summary.html' %}
{% endblock %}


{% block pagination %}
  {% include 'blog/includes/pagination.html' %}
{% endblock %}
