{% extends 'blog/base.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block sidebar %}
  {% include 'blog/includes/sidebar_index.html' %}
{% endblock %}

{% block info %}
  {% url 'blog:index' as index %}
  <div class="info">
    <div class="sort-links">
      <a href="{% url 'blog:index' %}" class="{% if request.path == index %} active-sort {% endif %}">
      <span class="material-symbols-outlined sort-icon middle-icon">calendar_month</span> По дате</a>
      <a href="{% url 'blog:hot_index' %}" class="hot-sort {% if not request.path == index %} active-sort {% endif %}">
      <span class="material-symbols-outlined sort-icon middle-icon">local_fire_department</span> По популярности</a>
    </div>
    <form action="{% url 'blog:search' %}" method="get" autocomplete="on">
      <div class="search_wrapper">
        <div class="search__button">
          <span class="material-symbols-outlined button-icon search__button-icon top-menu-icon">search</span>
        </div>
        <div class="search__input_wrapper">
          <input type="search" name="query" class="search__input" placeholder="Поиск...">
        </div>
      </div>
    </form>
  </div>
{% endblock %}

{% block content %}
  {% include 'blog/includes/articles_summary.html' %}
{% endblock %}

{% block pagination %}
  {% include 'blog/includes/pagination.html' %}
{% endblock %}