{% extends 'blog/base.html' %}
{% load static %}
{% load blog_tags %}

{% block title %} Поиск {% endblock %}

{% block sidebar %}
{% include 'blog/includes/sidebar_index.html' %}
{% endblock %}

{% block info %}
{% url 'blog:index' as index %}
<div class="info {% if not articles %}info_end{% endif %}">
    {% if articles %}
    {% get_results_word articles|length 0 as find_word %}
    {% get_results_word articles|length 1 as results_word %}
    <div class="search-results__info">
        По Вашему запросу {{ find_word }} {{ articles|length }} {{ results_word }}:
    </div>
    {% endif %}
    <div class="search">
        <div class="search-form" id="search-form">
            <span class="material-symbols-outlined button-icon top-icon" id="close-search" onclick="closeTopSearch()">undo</span>
            <form action="{% url 'blog:search' %}" method="get" class="search__form">
                <input type="search" name="query" class="input-search" required=True placeholder="Поиск...">
                <button type="submit" class="search-button"></button>
            </form>
        </div>
        <span id="open-search-button">
            <span class="material-symbols-outlined open-search-button button-icon top-menu-icon" onclick="openTopSearch()">search</span>
        </span>
    </div>
</div>
{% endblock %}

{% block content %}
{% if articles %}
    {% for article in articles %}
    <div class="article article-block">
        <a href="{{ article.get_absolute_url }}" class="search-results__title">{{ article.title }}</a>
        {{ article.body|safe|truncatechars:128 }} <a href="{{ article.get_absolute_url }}">читать далее</a></p>
    </div>
    {% endfor %}
{% else %}
<div class="bunny-message">
    <div class="bunny-message__bubble">
        По Вашему запрос ничего не найдено! 😢<br>Попробуйте поискать ещё раз.<br>
        <form action="{% url 'blog:search' %}" method="get" class="search__form search-nothing__form">
            <input type="search" name="query" class="input-search search-nothing-input" required=True placeholder="Поиск...">
            <button type="submit" class="search-button search-nothing-button"></button>
        </form><br>
        <a href="{{ request.META.HTTP_REFERER }}">Назад</a>
    </div>
    <div><img src="{% static 'blog/img/nothing_found.png' %}"></div>
</div>
{% endif %}
{% endblock %}