{% extends 'blog/index.html' %}
{% load static %}

{% block title %}Спасибо за подписку!{% endblock %}

{% block info %}
  <div class="info info_end">
    <form action="{% url 'blog:search' %}" method="get" autocomplete="on">
      <div class="search_wrapper">
        <div class="search__button">
          <span class="material-symbols-outlined button-icon search__button-icon top-menu-icon">search</span>
        </div>
        <div class="search__input_wrapper">
          <input type="search" name="query" class="search__input" placeholder="Поиск...">
        </div>
      </div>
    </form>
  </div>
{% endblock %}

{% block content %}
  <div class="robot-message">
    <div class="robot-message__bubble">
      Спасибо за подписку! 🌸<br>На указанную почту будут приходить уведомления о новых записях, но Вы можете отписаться в любой момент. <br>
      <a href="{{ request.META.HTTP_REFERER }}">Назад</a>
    </div>
    <div><img src="{% static 'blog/img/thanks.png' %}"></div>
  </div>
{% endblock %}
