{% extends 'blog/index.html' %}
{% load static %}

{% block title %} {{ tag.name }} {% endblock %}

{% block info %}
{% url 'blog:tag' tag.slug as tag %}
<a href="{{ tag }}" class="{% if request.path == tag %} active-sort {% endif %}">
    <span class="material-symbols-outlined sort-icon middle-icon">calendar_month</span> По дате</a>
<a href="{{ tag }}hot" class="hot-sort {% if not request.path == tag %} active-sort {% endif %}">
    <span class="material-symbols-outlined sort-icon middle-icon">local_fire_department</span> По популярности</a>
{% endblock %}

