{% extends 'blog/index.html' %}
{% load static %}

{% block title %}Отписка от уведомлений{% endblock %}

{% block info %}
  <div class="info info_end">
    <form action="{% url 'blog:search' %}" method="get" autocomplete="on">
      <div class="search_wrapper">
        <div class="search__button">
          <span class="material-symbols-outlined button-icon search__button-icon top-menu-icon">search</span>
        </div>
        <div class="search__input_wrapper">
          <input type="search" name="query" class="search__input" placeholder="Поиск...">
        </div>
      </div>
    </form>
  </div>
{% endblock %}

{% block content %}
  <div class="bunny-message">
    <div class="bunny-message__bubble">
      Вы успешно отписались от уведомлений о новых записях! <br>Но Вы можете подписаться обратно в любой момент. 🌸<br>
    </div>
    <div><img src="{% static 'blog/img/thanks.png' %}"></div>
  </div>
{% endblock %}