{% extends "admin/base_site.html" %}
{% load i18n static admingo_tags %}
{% get_customization_settings as customization %}

{% block title %}{{ customization.title }}{% endblock %}

{% block extrahead %}
  {% get_metrics as metrics %}
  {% if metrics %}
    <script src="{% static "vendor/chart.js/chart.js" %}" defer></script>
    <script src="{% static 'admingo/js/metrics.js' %}" defer></script>  
  {% endif %}
{% endblock %}

{% block content %}
  {% get_apps as apps %}
  {% if apps %}
    {% widthratio apps|length 2 1 as middle %}
  {% endif %}
  <div class="content_wrapper">
    <div class="content-apps">
      {% get_metrics as metrics %}
      {% if metrics %}
        <div class="content-metrics_wrapper">
          <div class="content-card content-metrics">
            <div class="metrics__title">
              Посетители
            </div>
            <div class="tabs guests"> 
              <input class="metrics__input" id="guestTodayTab" type="radio" name="guests" checked> 
              <label class="metrics__label" for="guestTodayTab">За сегодня</label> 
              <input class="metrics__input" id="guestWeekTab" type="radio" name="guests"> 
              <label class="metrics__label" for="guestWeekTab">За 7 дней</label> 
              <input class="metrics__input" id="guestMonthTab" type="radio" name="guests"> 
              <label class="metrics__label" for="guestMonthTab">За 30 дней</label> 
              <section class="metrics__section" id="guestTodayContent"> 
                <div class="metrics__num">
                  {{ metrics.today.guests }}
                </div>
              </section>   
              <section class="metrics__section" id="guestWeekContent"> 
                <div class="metrics__num">
                  {{ metrics.week.guests }}
                </div>
              </section>  
              <section class="metrics__section" id="guestMonthContent"> 
                <div class="metrics__num">
                  {{ metrics.month.guests }}
                </div>
              </section> 
              <div class="metrics__graph_wrapper">
                <div class="metrics__graph">
                  <canvas id="guestChart" width="100%"></canvas>
                </div>
              </div>
            </div> 
          </div>
          <div class="content-card content-metrics">
            <div class="metrics__title">
              Просмотры
            </div>
            <div class="tabs views"> 
              <input class="metrics__input" id="viewsTodayTab" type="radio" name="views" checked> 
              <label class="metrics__label" for="viewsTodayTab">За сегодня</label> 
              <input class="metrics__input" id="viewsWeekTab" type="radio" name="views"> 
              <label class="metrics__label" for="viewsWeekTab">За 7 дней</label> 
              <input class="metrics__input" id="viewsMonthTab" type="radio" name="views"> 
              <label class="metrics__label" for="viewsMonthTab">За 30 дней</label> 
              <section class="metrics__section" id="viewsTodayContent"> 
                <div class="metrics__num">
                  {{ metrics.today.views }}
                </div>
              </section>    
              <section class="metrics__section" id="viewsWeekContent"> 
                <div class="metrics__num">
                  {{ metrics.week.views }}
                </div>
              </section>  
              <section class="metrics__section" id="viewsMonthContent"> 
                <div class="metrics__num">
                  {{ metrics.month.views }}
                </div>
              </section> 
              <div class="metrics__graph_wrapper">
                <div class="metrics__graph">
                  <canvas id="viewChart" width="100%"></canvas>
                </div>
              </div>
            </div> 
          </div>
        </div>
      {% endif %}

      {% block content-apps %}
        {% for app in apps %}
          <div class="content-card">
            <table class="table">
              <caption>
                <h4 class="table__title">{{ app.name }}</h4>
              </caption>
              <tbody>
                {% for model in app.models %}
                  <tr>
                    <td>
                      {% if  model.admin_url %}<a href="{{ model.admin_url }}">{{ model.name }}</a>{% else %}{{ model.name }}{% endif %}
                    </td>
                    <td>
                      <div class="model-change">
                        {% if model.add_url %}
                          <div>
                            <a href="{{ model.add_url }}" class="addlink">
                              <span class="material-symbols-outlined icon-create">
                                add
                              </span>
                              {% trans 'Add' %}
                            </a>
                          </div>
                        {% endif %}
                        {% if  model.admin_url %}
                          {% if model.view_only %}
                            <a href="{{ model.admin_url }}" class="viewlink">{% trans 'View' %}</a>
                          {% else %}
                            <div>
                              <a href="{{ model.admin_url }}" class="changelink">
                                <span class="material-symbols-outlined icon-edit">
                                  edit
                                </span>
                                {% if model.custom %}
                                  {% trans 'Go' %}
                                {% else %}
                                  {% trans 'Change' %}
                                {% endif %}
                              </a>
                            </div>
                          {% endif %}
                        {% endif %}
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endfor %}
      {% endblock %}
    </div>

    <div class="content-history">
      <div class="content-card" id="recent-actions-module">
        <h4 class="content-card__title">{% trans 'Recent actions' %}</h4>
        {% load log %}
        {% get_admin_log 10 as admin_log for_user user %}
        {% if not admin_log %}
          <p>{% trans 'None available' %}</p>
        {% else %}
          <div class="timeline">
            {% for entry in admin_log %}
              <div>
                {% if entry.is_change %}
                  <span class="material-symbols-outlined icon-edit">
                    edit
                  </span>
                {% elif entry.is_deletion %}
                  <span class="material-symbols-outlined icon-delete">
                    delete
                  </span>
                {% elif entry.is_addition %}
                  <span class="material-symbols-outlined icon-create">
                    add
                  </span>
                {% endif %}
                <div class="timeline-item">
                  <span class="time">
                    <span class="material-symbols-outlined icon-datetime">
                      schedule
                    </span>
                    {% blocktrans with timesince=entry.action_time|timesince %}{{ timesince }} ago{% endblocktrans %}
                  </span>
                  <h3 class="timeline-header">
                    {% if entry.is_deletion or not entry.get_admin_url %}
                      {{ entry.object_repr }}
                    {% else %}
                      <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                    {% endif %}
                    {% if entry.model %}
                      <span class="mini quiet">
                        {% filter capfirst %}
                          {{ entry.model }}
                        {% endfilter %}
                      </span>
                    {% endif %}
                  </h3>
                  {% if not entry.is_deletion %}
                    <div class="timeline-body">
                      {% if entry.is_addition %}
                        {{ entry }}
                      {% else %}
                        <ul style="list-style: none; padding: 0;">
                          {% action_message_to_list entry as action_message_list %}
                          {% for action_message in action_message_list %}
                            <li>{{ action_message.message|bold_first_word }}</li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
