{% load website_tags static %}

{% for article in articles %}
<article class="article-content summary-content card">
  <h3><a href="{{ article.get_absolute_url }}">{{ article.title|cut_number }}</a></h3>
  <div class="summary-meta">

    <span class="summary-date"> <a href="{% url 'website:category_redirect' article.category.slug %}">
        {{ article.category|cut_number }}
    </a>  |  <i class="fa-regular fa-calendar"></i> {{ article.created_date|date:"d.m.Y" }}</span>
    <div class="summary-stats">
      <span><i class="fa-regular fa-eye"></i> {{ article.views }}</span>
      <span><i class="fa-regular fa-comments"></i> {% get_comments_count article as comments_count %}{{ comments_count }}</span>
      {% if user.is_authenticated %}
        <a href="{{ article.get_admin_url }}" class="object_edit">
          <i class="fas fa-edit"></i>
        </a>
      {% endif %}
    </div>
  </div>
  {{ article.summary|safe }}
  <div class="read-more">
    <a href="{{ article.get_absolute_url }}" class="read-more-btn">
      <span>Читать далее</span>
      <i class="fa-solid fa-chevron-right"></i>
    </a>
  </div>
</article>
{% endfor %}