{% load blog_tags static %}

<section class="author-card">
  <div class="author-info">
      <h2>Добро пожаловать на сайт с образовательными материалами по программированию 👋</h2>
      {% get_site_settings as site_settings %}
      {% if site_settings.about_me %}
        {{ site_settings.about_me|safe }}
      {% else %}
        <p>Меня зовут Ирина Хаустова, и здесь я делюсь своими образовательными материалами, разработанными в результате многолетнего опыта преподавания математики и информатики. Сайт находится в процессе разработки и время от времени пополняется новыми авторскими разработками.
        </p>
        <p>Связаться со мной можно по адресу <a href="mailto:irinakhaus@gmail.com">irinakhaus@gmail.com</a>.</p>
      {% endif %}
  </div>
  <img src="{% static 'blog/img/robot.png' %}" alt="Robot assistant" class="author-avatar">
</section>
