{% load blog_tags static %}

<div class="about">
  <div class="about__text">
    <div class="about__slogan">От первой строки кода до собственного бота</div>
    <div class="about__info">
      Добро пожаловать на сайт, где вы найдете всё необходимое для того, чтобы погрузиться в увлекательный мир программирования на Python! 🚀
      <div class="about__me">
        Меня зовут Хаустова Ирина, и я — репетитор по информатике, который любит делиться знаниями о программировании на Python. 
      На этом сайте я публикую учебные материалы и практические проекты, чтобы каждый желающий, 
      вне зависимости от возраста и уровня подготовки, мог начать своё путешествие в мир кода.
      </div>
    </div>
    <div class="about__contacts">
      Если у вас есть вопросы или предложения, обязательно пишите на почту <a href="mailto:irinakhaus@gmail.com">irinakhaus@gmail.com</a> — буду рада помочь!
    </div>
    <div class="about__status">🚫 Набор новых учеников на данный момент закрыт.</div>
  </div>
  <div class="about__image">
    <img src="{% static 'blog/img/robot_notebook.png' %}">
  </div>
</div>
