{% load blog_tags static %}

<div class="about article-block">
  <div class="about__text">
    <div class="about__slogan">
      Добро пожаловать на сайт с образовательными материалами 🚀
    </div>
    <div class="about__info">
      <div class="about__me">
        {% get_site_settings as site_settings %}
        {% if site_settings.about_me %}
          {{ site_settings.about_me|safe }}
        {% else %}
          <p>Меня зовут Хаустова Ирина, и я &ndash; репетитор по математике и информатике, а также энтузиаст программирования на Python.</p>
          <p>
            На этом сайте я публикую полезные учебные материалы и интересные практические проекты, 
            которые помогут вам погрузиться в увлекательный мир программирования, независимо от вашего возраста и уровня подготовки.
          </p>
          <p>Связаться со мной можно по адресу <a href="mailto:irinakhaus@gmail.com">irinakhaus@gmail.com</a> &ndash; всегда открыта к общению!</p>
          <p>🚫 Набор на индивидуальные занятия временно приостановлен.</p>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="about__image">
    <img src="{% static 'blog/img/robot_notebook.png' %}">
  </div>
</div>
