{% load blog_tags %}

{% for article in articles %}
  <div class="summary article-block">
    <div class="summary__text">
      <div class="summary__title">
        <a href="{{ article.get_absolute_url }}">{{ article.title|cut_number }}</a>
      </div>
      <div class="summary__about">
        <div class="summary__date">
          <span class="material-symbols-outlined info-icon middle-icon">calendar_month</span> {{ article.created_date }}
        </div>
        <div class="summary__info">
          <span class="material-symbols-outlined info-icon middle-icon">
            visibility
          </span> {{ article.views }}&nbsp;&nbsp;   
          <span class="material-symbols-outlined info-icon middle-icon">
            chat
            </span> {% get_comments_count article as comments_count %} {{ comments_count }}
        </div>
      </div>
      <hr class="summary__line">
      {{ article.summary|safe|truncatechars:256 }}
      <div class="read-more_wrapper">
        <a href="{{ article.get_absolute_url }}" class="read-more">
        Читать далее
        </a>
      </div>
    </div>
  </div>
{% endfor %}