{% load blog_tags static %}

{% for article in articles %}
  <div class="summary article-block summary-block">
    <div class="summary__text">
      <div class="summary__title">
        <strong><a href="{{ article.get_absolute_url }}">{{ article.title|cut_number }}</a></strong>
      </div>
      <div class="summary__about">
        <div class="summary__date">
          &#x1F4C5; {{ article.created_date }}
        </div>
        <div class="summary__info">
          &#x1F441;&#xFE0F;&#x200D;&#x1F5E8;&#xFE0F; {{ article.views }}&nbsp;&nbsp;   
          &#x1F4AC; {% get_comments_count article as comments_count %} {{ comments_count }}
        </div>
      </div>
      <hr class="summary__line">
      <p class="summary__p">{{ article.summary|safe|truncatechars:256 }}</p>
      <strong><a href="{{ article.get_absolute_url }}">
        Читать далее...
      </a></strong>
    </div>
  </div>
{% endfor %}