{% load blog_tags static %}

{% for article in articles %}
  <div class="summary article-block">
    <div class="summary__text">
      <div class="summary__title">
        <strong><a href="{{ article.get_absolute_url }}">{{ article.title|cut_number }}</a></strong>
      </div>
      <div class="summary__about">
        <div class="summary__date">
          <span class="material-symbols-outlined info-icon middle-icon">calendar_month</span> {{ article.created_date }}
        </div>
        <div class="summary__info">
          <span class="material-symbols-outlined info-icon middle-icon">
            visibility
          </span> {{ article.views }}&nbsp;&nbsp;   
          <span class="material-symbols-outlined info-icon middle-icon">
            chat
            </span> {% get_comments_count article as comments_count %} {{ comments_count }}
        </div>
      </div>
      <hr class="summary__line">
      <p class="summary__p">{{ article.summary|safe|truncatechars:256 }}</p>
      <strong><a href="{{ article.get_absolute_url }}">
        Читать далее
      </a></strong>
    </div>
  </div>
{% endfor %}