{% load static %}
{% load blog_tags %}

<nav class="toc-nav">
  <h3 class="toc-title">{{ article.category|cut_number }}</h3>
  <ul class="toc-list">
    {% get_content_links article as content_links %}
    {% if article.subcategory %}
      {% for subcategory, articles in content_links.items %}
        <li class="toc-category{% if article.subcategory == subcategory %} is-open{% endif %}">
          <div class="toc-category-header">
            <a href="#">{{ subcategory }}</a>
            <button class="toc-toggle-btn" data-action="toggle">
              {% if article.subcategory == subcategory %}-{% else %}+{% endif %}
            </button>
          </div>
          <ul class="toc-submenu">
            {% for content_article in articles %}
              <li><a href="{{ content_article.get_absolute_url }}" {% if content_article.get_absolute_url == article.get_absolute_url %}class="active"{% endif %}>{{ content_article.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    {% else %}
      <ul class="toc-list no-sub">
        {% for content_article in content_links %}
              <li><a href="{{ content_article.get_absolute_url }}" {% if content_article.get_absolute_url == article.get_absolute_url %}class="active"{% endif %}>{{ content_article.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </ul>
</nav>
