{% load static %}
{% load blog_tags %}

<nav>

<div class="sidebar-content menu menu_index">
  <strong>
    <span class="sidebar__title">
      📚 Учебник</span>
  </strong>
  <hr class="sidebar__line">
  <ul class="navigation">    
    {% get_textbook_categories as categories %} 
    {% for category in categories %}
      {% get_first_category_article category as article_url %}
      <li class="navigation__item">
        <a href="{{ article_url }}" class="sidebar__link">
          {{ category.name|cut_number }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

<div class="sidebar-content menu menu_index">
  <strong>
    <span class="sidebar__title">
      💻 Проекты</span>
  </strong>
  <hr class="sidebar__line">
  <ul class="navigation">    
    {% get_projects_categories as categories %} 
    {% for category in categories %}
      {% get_first_category_article category as article_url %}
      <li class="navigation__item">
        <a href="{{ article_url }}" class="sidebar__link">
          {{ category.name|cut_number }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

{% get_site_settings as site_settings %}
{% if site_settings.is_subscribe %}
  {% subscribe_form %}
{% endif %}

</nav>

