{% load static %}
{% load blog_tags %}

<nav class="sidebar-content menu menu_index">
  <strong>
    <span class="sidebar__title">
    <span class="material-symbols-outlined navigation-icon middle-icon">bookmark</span> Навигация</span>
  </strong>
  <hr class="sidebar__line">
  <ul class="navigation">    
    {% get_categories as categories %} 
    {% for category in categories %}
      {% get_first_category_article category as article_url %}
      <li class="navigation__item category__item">
        <a href="{{ article_url }}" class="sidebar__link">
          {{ category.name|cut_number }}
        </a>
      </li>
    {% endfor %}
    <li class="navigation__item category__item">
      <a href="{% url 'blog:about' %}" class="sidebar__link">Об авторе</a>
    </li>
  </ul>
</nav>
{% subscribe_form %}
