@font-face {
    font-family: 'Cherry Cream Soda';
    src: url('CherryCreamSoda-Regular.eot');
    src: url('CherryCreamSoda-Regular.eot?#iefix') format('embedded-opentype'),
        url('CherryCreamSoda-Regular.woff2') format('woff2'),
        url('CherryCreamSoda-Regular.woff') format('woff'),
        url('CherryCreamSoda-Regular.ttf') format('truetype'),
        url('CherryCreamSoda-Regular.svg#CherryCreamSoda-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'a_Intro';
    src: url('Intro.eot');
    src: url('Intro.eot?#iefix') format('embedded-opentype'),
        url('Intro.woff2') format('woff2'),
        url('Intro.woff') format('woff'),
        url('Intro.ttf') format('truetype'),
        url('Intro.svg#Intro') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'a_Arsenal';
    src: url('Arsenal-Regular.eot');
    src: url('Arsenal-Regular.eot?#iefix') format('embedded-opentype'),
        url('Arsenal-Regular.woff2') format('woff2'),
        url('Arsenal-Regular.woff') format('woff'),
        url('Arsenal-Regular.ttf') format('truetype'),
        url('Arsenal-Regular.svg#Arsenal-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

